@use '../mixins/responsive.scss' as *;


.button {
    display: inline;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: .3rem;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border: 2px solid black;
    margin: auto;
    position: absolute;
    bottom: -9.2rem;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;

    @include responsive(laptop) {
        margin: 0;
        position: absolute;
        top: 15px;
        left: auto;
        right: -60px;
        font-size: .9rem;
        padding: .8rem;
        padding-left: 3rem;
        padding-right: 3rem;
        width: 200px;
        height: 50px;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}