.button{
    display: inline;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: .3rem;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border: 2px solid black;
    margin: auto;
}